<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>log in!</title>
    </head>
    <body>

        <h1>Thank you, <span th:text = "${name}"></span>
 ! You have been signed up to the event! Find out who else signed up!</h1>
        <div th:if="${admin} == true">
        ADMIN
            <table>

            <tr th:each="it : ${list}">
                <td th:utext="${it.name}">Name</td>
                <td th:utext="${it.address}">Address</td>
                <td th:text="${it.pledge}">Count</td>
                <td><form th:action="@{/delete}" method="POST">
                        <input type="hidden" name="user" th:value="${it.name}"/>
                        <input type="submit" value="Delete"/>
                    </form></td>
            </tr>
        </table>
        


                    
        </div>
        <div th:if="${admin} != true">
        ADMIN: NO
        <ul>
                        <li th:each="it : ${list}" th:utext="${it.name + ' pledged ' + it.pledge + ' EUR!'}">user name</li> 
        </ul>        
        </div>
        
           <h1>Change your pledge</h1>
           
        <form action="#" th:action="@{/delete}" method="POST">
            <p><label for="user">New pledge</label>: <input type="text" name="newPledge" id="newPledge"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
    </body>
</html>
